h1 {
  color: var(--color-grey-4);
}

h3,
h4 {
  color: var(--color-grey-1);
}

.home-header {
  padding: 200px 0;
  background-image: url(./../images/bg.jpg);
}

.home-header-content {
  max-width: 600px;
  margin-top: -52px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-3);
}

.home-header-content p {
  color: var(--color-grey-3);
}

.home-header .button {
  margin-left: auto;
  margin-right: 80px;
  z-index: 1;
}

.participants {
  padding: 50px 0;
}

.participants-content {
  gap: 104px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.onda1{
  position: absolute;
  top: 827px;
  /* top: 470px; */
}

.imgOnda1{
  width: 1600rem;
}

.onda2{
  position: absolute;
  top: 4153px;
  /* top: 2000px; */
  z-index: 2;
}

.imgOnda2{
  width: 1600rem;
}

@media(min-width: 322px){
  .onda2{
    top: 4124px;
  }
}

@media(min-width: 323px){
  .onda2{
    top: 4103px;
  }
}

@media(min-width: 324px){
  .onda2{
    top: 4078px;
  }
}

@media(min-width: 330px){
  .onda1{
    top: 825px;
  }

  .onda2{
    top: 4044px;
  }
}

@media(min-width: 331px){
  .onda1{
    top: 792px;
  }

  .onda2{
    top: 4012px;
  }
}

@media(min-width: 352px){
  .onda2{
    top: 3986px;
  }
}

@media(min-width: 450px){
  .onda1{
    top: 709px;
  }
}

@media(min-width: 452px){
  .onda2{
    top: 3919px;
  }
}

@media(min-width: 472px){
  .onda1{
    top: 707px;
  }
}

@media(min-width: 473px){
  .onda2{
    top: 3885px;
  }
}

@media(min-width: 477px){
  .onda1{
    top: 609px;
  }

  .onda2{
    top: 3824px;
  }
}

@media(min-width: 776px){
  .onda2{
    top: 2587px;
  }
}

@media(min-width: 820px){
  .onda1{
    top: 588px;
  }
}

@media(min-width: 1085px){
  .onda1{
    top: 548px;
  }
}

@media(min-width: 1200px){
  .onda2{
    top: 1987px;
  }
}

@media(min-width: 1300px){
  .onda1{
    top: 496px;
  }
}

@media(min-width: 1968px){
  .onda1{
    top: 389px;
  }
}